.text-collum {
    justify-content: space-between;
    max-width: 660px;
    margin-left: 0;
}

.text-card {
    max-height: 285px;
    padding-top: 12px;
    border-top: 1px solid;
    padding-left: 0;
    height: 200px;
}

.text-card h2 {
    font-size: 27px;
}

.text-card p {
    font-size: 13px;
    color: #6A6A6A;
}

.text-content {
    display: flex;
    max-width: 730px;
    flex-direction: column;
    margin-right: 15%;
}

.text-content h1 {
    margin: 80px 0;
    font-size: 35px;
}

.title-images {
    margin-top: 50px;
    margin-bottom: 42px;
    margin-left: 5%;
}

.title-images p {
    font-size: 51px;
    line-height: 61.4px;
    padding: 0;
    margin: 0;
}

.images-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.image-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px; 
  width: 100%;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.image-container:nth-child(2) {
  grid-row: span 2;
}

.image-block img {
    width: 100%;
    object-fit: cover;
    background-color: #000;
}

.text-img {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 30px;
}

.a-img {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
}

.a-img:hover {
    color: #fff;
}

.organic-text {
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}

.organic-paragraph {
    font-size: 23px;
}

.organic-content {
    margin-top: 80px;
}

.organic-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.icon-text {
    display: flex;
    flex-direction: column;
}

.icon-text p {
    font-size: 18px;
}

.icon-text span {
    font-size: 12px;
    color: #919191;
}

.icon-circle {
    padding: 18px;
    border: 2px dotted;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle img {
    height: fit-content;
}

.organic-left p {
    font-size: 23px;
    line-height: 39.1px;
}

.organic-content h1 {
    font-size: 95px;
    display: flex;
    gap: 12px;
    line-height: 88px;
}

.organic-content h1 img {
    height: fit-content;
    margin-top: 10px;
}

.organic-right {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.help-redirect {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 220px 0;
}

.help-redirect span {
    font-size: 45px;
    color: #BDBDBD;
    line-height: 24px;
}

.help-redirect a {
    font-size: 68px;
    color: #000;
    text-decoration: underline;
    text-transform: uppercase;
}

.help-redirect a:hover {
    color: #000;
}

@media (max-width: 1200px) {
    .help-redirect span {
        font-size: 26px;
    }

    .help-redirect a {
        font-size: 32px;
    }

    .help-redirect {
        margin: 140px 0;
    }

    .organic-content h1 {
        font-size: 50px;
        line-height: 61px;
    }
}

@media (max-width: 991px) {
    .organic-paragraph {
    font-size: 18px;
    }

    .organic-icon {
        justify-content: normal; 
    }

    .organic-left p {
        font-size: 18px;
    }

    .organic-content h1 img {
        height: 18px;
        margin-top: 4px;
    }

    .organic-content h1 {
        font-size: 40px;
        line-height: 40px;
        gap: 2px;
    }

    .organic-content {
        margin-top: 40px;
    }

    .organic-right {
        margin-top: 24px;
        gap: 16px;
    }

    .organic-text {
        margin-top: 24px;
    }

    .icon-circle img {
        height: 30px;
    }

    .icon-circle {
        padding: 18px 18px;
        height: fit-content;
    }

    .title-images p {
        font-size: 28px;
        line-height: 32px;
    }

    .text-content h1 {
        margin: 60px 0;
        font-size: 30px;
    }

    .text-collum {
        justify-content: space-around;
    }

    .text-card {
        height: auto;
        padding-bottom: 24px;
    }

    .text-card h2 {
        font-size: 24px;
    }

    .text-img {
        font-size: 16px;
        bottom: 24px;
    }

    .a-img {
        font-size: 8px;
        bottom: 10px;
    }

    .title-images {
        margin-bottom: 24px;
    }
}

@media (max-width: 576px) {
    .title-images {
        margin-left: 0;
    }  
}